* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden; /* Don't allow scrolling */
}

body {
  background: #333;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  padding: 10px 20px;
  z-index: 10;
}

.nav h1 {
  text-transform: uppercase;
  text-align: center;
}

/* Main Content */
.calcCont {
  width: 95%;
  max-width: 500px;
}

/* Form */
.calcCont form {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 10px;
  background: #333;
}

.calcCont form label {
  margin-bottom: 5px;
}

.calcCont form input:not(:last-of-type) {
  margin-bottom: 20px;
}

button {
  background: #3faf7a;
  color: #111;
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 25px;
  text-transform: uppercase;
}

button:hover {
  background: #329666;
}

/* Output */
.output {
  margin-top: 50px;
}

.outputData:not(:last-of-type) {
  margin-bottom: 10px;
}
